.content[data-state="open"] {
  animation: slideDown 250ms ease-out;
}
.content[data-state="closed"] {
  animation: slideUp 250ms ease-out;
}

@keyframes slideDown {
  from {
    opacity: 10%;
    transform: translateY(-1rem);
  }
}

@keyframes slideUp {
  to {
    opacity: 10%;
    transform: translateY(-1rem);
  }
}

.icon {
  transition: 0.15s ease-in-out;
  transform: rotate(45deg);
}

.block:hover .icon {
  transform: rotate(90deg);
}

.grid {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: end;
  gap: 15px;
}

.noUnderline:hover div + div {
  text-decoration: underline;
}

.title {
  position: relative;
  font-weight: 700;
  text-align: left;
}

.content {
  color: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 319px) {
  .title {
    font-size: 10px;
  }

  .content {
    font-size: 8px;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .title {
    font-size: 12px;
  }

  .content {
    font-size: 10px;
  }
}
@media screen and (min-width: 480px) and (max-width: 719px) {
  .title {
    font-size: 14px;
  }

  .content {
    font-size: 12px;
  }
}
@media screen and (min-width: 720px) and (max-width: 1023px) {
  .title {
    font-size: 16px;
  }

  .content {
    font-size: 14px;
  }
}
@media screen and (min-width: 1024px) {
  .title {
    font-size: 18px;
  }
}
@media screen and (min-width: 1280px) {
}
