.title {
	font-size: 62px;
	text-transform: uppercase;
}
.title span {
	color: #BF1700;
	font-size: 76px;
}
.shape {
	position: absolute;
	left: -20px;
	top: -13px;
}

@media screen and (max-width: 800px) {
	.title {
		font-size: 32px;
	}
	.title span {
		font-size: 36px;
	}
}