@import url("https://gistcdn.githack.com/mfd/09b70eb47474836f25a21660282ce0fd/raw/e06a670afcb2b861ed2ac4a1ef752d062ef6b46b/Gilroy.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Montserrat:wght@400;500;600;700;800&display=swap");

@font-face {
  font-family: "TacticSans-Bld";
  src: url("/fonts/tacticSans/TacticSans-Bld.otf") format("opentype");
}

@font-face {
  font-family: "TacticSansExd-BldIt";
  src: url("/fonts/tacticSans/TacticSansExd-BldIt.otf") format("opentype");
}

html, body {
  overflow-x: hidden;
}

:root {
  --white-opacity-07: rgba(255, 255, 255, 0.7);
  --red-header: #ff1d1d;
  --red-footer: #740000;
  --black-opacity-02: rgba(255, 255, 255, 0.2);
  --red-switch: #bd0000;
  --background-gradient: linear-gradient(
    90deg,
    #000 0.15%,
    rgba(0, 0, 0, 0.73) 195.88%,
    #0b0005 195.9%
  );
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1023px) {
  body {
    background-image: linear-gradient(
        90deg,
        #000 0.15%,
        rgba(0, 0, 0, 0.73) 195.88%,
        #0b0005 195.9%
      ),
      url("/gatesOld.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-color: black;
  }
}
@media screen and (min-width: 1024px) {
  body {
    background-image: linear-gradient(
        90deg,
        #000 0.15%,
        rgba(0, 0, 0, 0.73) 195.88%,
        #0b0005 195.9%
      ),
      url("/gates.png");
    background-repeat: no-repeat;
    background-position: top right;
    background-color: black;
  }
}

@media screen and (min-width: 1920px) {
  body {
    background-position: center;
  }
}

.page-content {
  flex-grow: 1;
  position: relative;
}
