.main {
	display: flex;
	flex-direction: column;

	font-family: "TacticSans-Bld", sans-serif;

	min-height: 100vh;

	padding: 0 6rem;
	margin-top: 95px;
}

.right img {
	width: 100%;
}

.left {
	display: flex;
	flex-direction: column;

	position: relative;
}