.main {
	display: flex;
	justify-content: space-between;
	align-items: center;

	font-family: "TacticSans-Bld", sans-serif;

	min-height: 90vh;

	padding: 0 6rem;
}

.right img {
	width: 100%;
}

.left {
	display: flex;
	flex-direction: column;

	position: relative;
}