.swiper {
  height: 100%;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper .swiper-pagination-bullet-active {
  transform: scale(2);
  transform-origin: center;
}

.swiper-3d .swiper-slide-shadow-right {
  border-radius: 10px;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .swiper-slide {
    max-width: 210px;
    min-width: 210px;
    height: 355px;
  }
}
@media screen and (min-width: 768px) {
  .swiper-slide {
    min-width: 263px;
    max-width: 263px;
    height: 437px;
  }
}
