.item {
  display: flex;
  gap: 14px;
  align-items: center;
}

.square {
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

@media screen and (max-width: 719px) {
  .square > svg {
    width: 26px;
    /* max-width: 26px; */
    height: 26px;
    /* max-height: 26px; */
  }
}

@media screen and (min-width: 720px) {
  .square {
    width: 65px;
    height: 65px;
  }

  .square > svg {
    width: 35px;
    height: 35px;
  }
}
